<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=192.168.1.4\SQLEXPRESS;Initial Catalog=OMS_KINTAI_190524;User ID=sa;Password=123456;Connection Timeout=90" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="HOST" value="pop3.lolipop.jp"/>
    <add key="PORT" value="995" />
    <add key="SSL" value="true" />
    <add key="USER_ID" value="pnd-duong@vnisv.com"  />
    <add key="USER_PASSWORD" value="G_hyJ4587Gfrd" />
    <add key="SAVE_PATH" value="C:/Emails/" />
    <add key="EXT" value="eml" />
  </appSettings>
</configuration>